/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  v2006                                 |
|   \\  /    A nd           | Website:  www.openfoam.com                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    location    "8.595619";
    object      alpha.liquid;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

dimensions      [0 0 0 0 0 0 0];


internalField   nonuniform List<scalar> 
406
(
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.476872
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
)
;

boundaryField
{
    outlet
    {
        type            calculated;
        value           uniform 1;
    }
    wedgeY+
    {
        type            wedge;
    }
    wedgeY-
    {
        type            wedge;
    }
    wrapper
    {
        type            calculated;
        value           nonuniform List<scalar> 
58
(
1
1
1
1
1
1
1
1
1
1
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
0.626414
)
;
    }
    inlet
    {
        type            calculated;
        value           nonuniform List<scalar> 7(0.476872 0.476872 0.476872 0.476872 0.476872 0.626414 0.626414);
    }
    defaultFaces
    {
        type            empty;
    }
}


// ************************************************************************* //
